<h1 class="mobile-h1 mobile">
  <p>
    <%= @team.name.downcase %>
  </p>
  </h1>
  <div class="bio-sean">
    <div class="bio-sean-image left">
      <%= @team.from.html_safe %>
    </div>
    <div class="bio-sean-text right">
      <h1 class="desktop">
      <%= @team.name %>
    </h1>
      <%= @team.apprenticed.html_safe %>
    </div>
  </div>
  <div class="bio-sean-area">
    <div class="bio-sean noted">
      <h2>noted celebrities</h2>
      <%= @team.workedat.html_safe %>

    </div>
    <div class="bio-sean featured">
      <h2>featured magazines</h2>
      <%= @team.workedwith.html_safe %>
    </div>
    <div class="bio-sean accolades">
      <h2>accolades</h2>
      <%= @team.specialize.html_safe  %>
    </div>
  </div>