<div class="featuredMenu desktop">
  <h2 class="featuredInText">featured in</h2>
    <ul class="featuredList">
    <li class="firstImage">
      <%= image_tag("miami-beach-hair-salon-allure-magazine.png")  %>
    </li>
    <li class="middleImage">
      <%= image_tag("miami-beach-salon-fashionweek.png")  %>
    </li>
    <li class="middleImage">
      <%= image_tag("best-miami-beach-hair-salon.png") %>
    </li>
    <li class="middleImage">
      <%= image_tag("south-beach-hair-salon-sean-donaldson.png") %>
    </li>
    <li class="lastImage">
      <%= image_tag("best-south-beach-salon-hairstylists.png")  %>
    </li>
  </ul>
</div>
