<li class=" last mobile"><%= link_to("home", root_path) %>
</li>
    <li class="last">
      <%= link_to("the salon", "/services/the-salon") %>
    </li>
    <li>
      <%= link_to("our services", "/services/our-services") %>
    </li>
    <li class="">
      <%= link_to("our team", "/teams") %>
    </li>
    <li>
      <%= link_to("makeup", "/services/makeup") %>
    </li>
    <li>
      <%= link_to("nails", "/services/nails") %>
    </li>
    <li>
      <%= link_to("spa", "/services/spa") %>
    </li>
    <li class="first desktop">
      <%= link_to("your wedding day", '/services/your-wedding-day') %>
    </li>